<div class="container">
    <div class="text-center">
        <fa-icon class="fa-2x" [icon]="faUserPlus"></fa-icon>    
    </div>
    <hr>
    <h6>{{title}}</h6>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body"> 
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faIdCard'></fa-icon></span>
            </div>
            <input formControlName="nombre" type="text" class="form-control form-control-user" [(ngModel)]="club.nombre" 
            [ngClass]="{'is-invalid': submitted && f.nombres.errors}" placeholder="Nombre del Club..."/>
            <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                <div *ngIf="f.nombre?.errors?.required">El nombre del club es requerido</div>
            </div>
        </div>          
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
            </div>
            <input formControlName="instructor" type="text" class="form-control form-control-user" 
                [(ngModel)]="club.instructor" 
                placeholder="Nombre del Instructor..." required />
        </div>        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
            </div>
            <input formControlName="lugar" type="text" class="form-control form-control-user" 
                [(ngModel)]="club.lugar" placeholder="Lugar de práctica..." required />
        </div>                
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faCalendar'></fa-icon></span>
            </div>
            <input formControlName="informacion" type="text" class="form-control form-control-user" 
                [(ngModel)]="club.informacion" placeholder="Información adicional del club..." required />
        </div>        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faMapMarkedAlt'></fa-icon></span>
            </div>
            <input formControlName="minimo_integrantes" type="number" min="1" max="50" class="form-control form-control-user" 
                [(ngModel)]="club.minimo_integrantes" placeholder="Número mínimo de integrantes..."/>
        </div>     
    
        <div class="btn-group">
            <button type="submit" class="btn btn-success">
                <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar
            </button>
            <button type="reset" (click)="onReset()" class="btn btn-danger">
                <fa-icon [icon]='faTimes'></fa-icon>&nbsp;Cancelar
            </button>
        </div>
    </div>        
</form>
