<br>
<br>
<div class="container">
    <div class="d-flex justify-content-around">
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faIdCard'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Nombre</small>
                <p class="h6"><strong>{{club.nombre}}</strong></p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faUser'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Instructor</small>
                <p class="h6"><strong>{{club.instructor}}</strong></p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faUser'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Información</small>
                <p class="h6"><strong>{{club.informacion}}</strong></p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faUser'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Lugar</small>
                <p class="h6"><strong>{{club.lugar}}</strong></p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faUser'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Número Mínimo de Integrantes</small>
                <p class="h6"><strong>{{club.minimo_integrantes}}</strong></p>
            </div>
        </div>
    </div>
</div>

